body {
    margin: 0;
    /*padding: 0;*/
}

* {
    /*background-color: #eeedee;*/
}

.container {
    margin: auto;
    /*max-width: 1024px;*/
    /* background-color: #ffffff; */
    /* height: 30%; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-position: center;
    background-repeat: no-repeat;
	background-size: cover; */
    /* background-image: url=(); */
    background-image: url("image/bg2.jpg");
    width: 100%;
    /* height: 60%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background {
    width: 100%;
    /* background-color: #4466ff; */
}

.header {
    margin: auto;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #ffffff;*/
    /* background-color: #4466ff; */
}

.header-name {
    font-family: Georgia;
    margin: 0;
    color: #ffffff;
    /*background-color: #4466ff;*/
}


/*.header-option{
	color: #4466ff;
}*/

.header ul {
    display: flex;
    list-style-type: none;
    margin-left: px;
    /*background-color: #4466ff;*/
}

.header li {
    margin-left: 0 !important;
    width: 100px;
    /*height: 40px;*/
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: bold;
    /*background-color: #4466ff;*/
}

.header a:hover {
    color: white;
    background-color: #0431fc;
}

.input-search {
    position: relative;
    /* background-color: #4466ff; */
    vertical-align: middle;
    white-space: nowrap;
}

.input-search input {
    width: 200px;
    height: 30px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.input-search .icon-search {
    position: absolute;
    top: 50%;
    margin-left: 6px;
    margin-top: -7px;
    z-index: 1;
    color: #4f5b66;
}


/* .input-search input {
    width: 250px;
    border: 1px solid black;
} */

.header-image img {
    width: 100%;
    /*background-position: center;*/
    /*background-repeat: no-repeat;
  background-size: cover;*/
    /*background-size: cover;*/
}

.header-background {
    /*width: 150%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.header-login {
    display: flex;
    font-size: 20px;
    /* align-items: center;
    justify-content: space-between; */
}

.login {
    border: 1px solid red;
    border-radius: 8px;
    margin-right: 20px;
    padding: 5px;
}

.login a {
    color: red;
}

.signup {
    margin-top: 5px;
}


/* .signup a:hover {
    color: #4466ff;
    background-color: aquamarine;
} */

.content-home {
    display: flex;
    width: 1024px;
    height: 1000px;
    margin: auto;
    /* box-shadow: 0 2px 7px 1px #C7EDE4;
    -webkit-box-shadow: 0 2px 7px 1px #C7EDE4; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-background {
    /*display: flex;*/
    /* background-color: black; */
    width: 100%;
}

.footer {
    /* display: flex; */
    width: 1024px;
    /* height: 100px; */
    margin: auto;
    /*background-color: white;*/
}

.footer-link {
    display: block;
    list-style-type: none;
    padding-left: 0px;
    /*background-color: #4466ff;*/
    margin-bottom: 15px;
}

.footer-link li {
    display: inline-block;
    margin-left: 0 !important;
    /* width: 100px; */
    /*height: 40px;*/
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    padding-right: 25px;
    margin: 0px;
    ;
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer p {
    color: white;
}