    .carousel-inner img {
        width: 100%;
        height: auto;
    }
    
    .card-img-bottom {
        width: 100% !important;
        object-fit: contain !important;
    }
    
    .pad-l-3 {
        padding-left: 3rem !important;
    }
    
    .pad-r-3 {
        padding-right: 3rem !important;
    }
    
    .pad-t-3 {
        padding-top: 3rem !important;
    }
    
    .pad-b-3 {
        padding-bottom: 3rem !important;
    }
    
    .mar-l-3 {
        margin-left: 3rem !important;
    }
    
    .mar-r-3 {
        margin-right: 3rem !important;
    }
    
    .mar-t-3 {
        margin-top: 3rem !important;
    }
    
    .mar-b-3 {
        margin-bottom: 3rem !important;
    }
    
    .pad-l-6 {
        padding-left: 6rem !important;
    }
    
    .border-grey {
        border-color: #cacaca !important;
    }
    
    .border-grey-bold {
        border-color: #a5a5a5 !important;
    }
    
    .list-style-type-none {
        list-style-type: none !important;
    }
    
    .text-decoration-none {
        text-decoration: none !important;
    }
    
    .a-block-light {
        display: block !important;
        background-color: #fff !important;
        color: rgb(20, 20, 20) !important;
        line-height: 35px;
    }
    
    .a-block-light:hover {
        color: rgb(39, 39, 39) !important;
        background-color: rgb(248, 248, 248) !important;
        font-weight: bold;
    }
    
    .pad-r-6 {
        padding-right: 6rem !important;
    }
    
    .pad-t-6 {
        padding-top: 6rem !important;
    }
    
    .pad-b-6 {
        padding-bottom: 6em !important;
    }
    
    .mar-l-6 {
        margin-left: 6rem !important;
    }
    
    .mar-r-6 {
        margin-right: 6rem !important;
    }
    
    .mar-t-6 {
        margin-top: 6rem !important;
    }
    
    .mar-b-6 {
        margin-bottom: 6rem !important;
    }
    
    .w-25 {
        width: 120px !important;
    }
    
    body {
        /* background-color: #000000; */
    }
    
    .bg-dark {
        background-color: #000000 !important;
    }
    
    .search-form {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .noticed {
        background-color: red;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        position: absolute;
        top: -28px;
        right: 1px;
        align-items: center;
        display: flex;
        justify-items: center;
    }
    
    .bg-white {
        background-color: #fff;
    }
    
    .noticed p {
        margin: 0px;
        font-weight: bold;
    }
    
    .search-form-input {
        /* opacity: 1; */
        width: 300px !important;
        border-radius: 0px !important;
        /* transition: ease 0.2s; */
        background-color: #000000 !important;
        /* top: 400px; */
        border: 0px;
        border-bottom: 1px solid white !important;
    }
    
    .search-form-btn {
        /* width: 30px !important; */
        /* padding: 4px !important; */
        /* background-color: blueviolet; */
        /* border-radius: 30px; */
        border-radius: 0px;
        /* border-left: 1px solid #e1e1e1; */
        position: absolute;
        right: 0px;
    }
    
    .fa-search {
        color: #ffffff;
    }
    
    .btn-link {
        color: #000000;
    }
    
    .form-login a div:hover {
        background-color: aqua !important;
    }
    
    .form-login {
        padding-right: 0px;
        /* background-color: cyan; */
    }
    
    .form-login-btn {
        width: 90px;
    }
    
    .fa-search:hover {
        color: cyan !important;
    }
    
    .btn-cart:hover {
        color: cyan !important;
    }
    
    .carousel-inner {
        height: 700px !important;
    }
    
    footer {
        background-color: #000000;
        color: #d5d5d5;
    }
    
    hr.light {
        border-top: 1px solid #d5d5d5;
        width: 75%;
    }
    
    .light-100 {
        border-top: 1px solid #d5d5d5;
        width: 100%;
    }
    
    .form-login a:first-child div {
        background-color: #000000 !important;
        color: #ffffff !important;
        border: 1px solid #ffffff !important;
    }
    
    .form-login a:first-child div:hover {
        background-color: #ffffff !important;
        color: #000000 !important;
        border: 1px solid #000000 !important;
    }
    
    .form-login a:last-child div {
        background-color: #ffffff !important;
        color: #000000 !important;
        border: 1px solid #000000 !important;
    }
    
    .form-login a:last-child div:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
        border: 1px solid #ffffff !important;
    }
    
    .h-285 {
        height: 285px !important;
    }
    
    .card-title a:hover {
        color: rgb(90, 90, 90);
        cursor: pointer;
    }
    /* Products Detail */
    
    .product-detail-body {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
    
    .product-img {
        width: 100%;
        /* height: 300px; */
        /* background-color: brown; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }
    
    .product-img h2 {
        font-size: 4.5rem;
        padding: 4rem 0rem 4rem 0rem;
    }
    
    .product-info {
        width: 50%;
        height: auto;
        box-sizing: border-box;
        margin: auto;
        /* padding-left: 10px; */
        /* background-color: blue; */
        /* border-left: 4px solid #000; */
    }
    
    .product-info__info h4 {
        padding-left: 10px;
        /* background-image: linear-gradient(to right, #000, #fff); */
        color: #000;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid grey;
    }
    
    .product-info__info p {
        padding-left: 10px;
    }
    
    .product-img__img {
        width: 40%;
        margin: auto;
    }
    
    .product-img__img img {
        width: 100%;
        height: auto;
    }
    
    .product-info__cart {
        line-height: 4.5rem;
        text-align: center;
    }
    
    .btn-dark {
        background-color: #000;
    }
    
    .product-info__info-price {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .product-info__info-price-sell {
        /* width: 50%; */
        color: rgb(49, 49, 49);
        font-size: 2.5rem;
        /* text-align: center;
        text-decoration: line-through; */
    }
    
    .product-info__info-price-sale {
        width: 100%;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .cart button {
        position: relative;
        display: flex;
    }
    
    .cart button i {
        position: relative;
    }
    
    .cart button p {
        border-radius: 50%;
        background-color: red;
        width: 26px;
        position: absolute;
        top: -2px;
        right: 7px;
    }
    
    .menu-item.product {
        position: relative;
    }
    
    .child-menu-item a {
        font-size: 0.75rem !important;
    }
    
    .child-menu-item:hover {
        font-size: 0.8rem !important;
    }
    
    .child-menu {
        left: 30px;
        /* background: white; */
        display: none;
        color: #fff;
        transition-delay: linear 10s;
    }
    
    .child-menu--active {
        display: block;
    }
    
    .profile {
        /* text-align: center; */
    }
    
    .nav-right {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-right p {
        /* width: 120px; */
    }
    
    .notice-icon {
        position: relative;
    }
    
    .profile-icon {
        position: relative;
    }
    
    .nav-notice {
        display: none;
        position: absolute;
        top: 41px;
        left: -23px;
        width: 200px;
        min-height: 50px;
        background: white;
        z-index: 100;
        border-radius: 3px;
        border: 1px solid rgba(179, 170, 170, 0.603);
    }
    
    .nav-notice-active {
        display: block;
    }
    
    .nav-profile {
        display: none;
        position: absolute;
        /* top: 41px; */
        /* left: -65px; */
        width: 200px;
        min-height: 50px;
        background: white;
        z-index: 100;
        border-radius: 3px;
        border: 1px solid rgba(179, 170, 170, 0.603);
    }
    
    .nav-notice::before {
        content: "";
        position: absolute;
        border: 9px transparent solid;
        border-bottom-color: white;
        top: -18px;
        left: 94px;
    }
    
    .menu-item:hover {
        color: #fff !important;
        cursor: pointer !important;
    }
    
    .cart .dropdown-menu {
        left: -93px !important;
    }
    
    .btn-block {
        display: block;
        width: 100%;
        text-decoration: none !important;
    }
    
    .flex-center {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    
    .w-15 {
        width: 15% !important;
    }
    
    .font-size-1 {
        font-size: 1rem !important;
    }
    
    .font-size-2 {
        font-size: 2rem !important;
    }
    
    .font-size-3 {
        font-size: 3rem !important;
    }
    
    .font-size-8 {
        font-size: 8rem !important;
    }