html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.paddingLR {
    padding-left: 1rem;
    padding-right: 1rem;
}

.header {
    color: #fff;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.profile button:hover {
    background-color: #000 !important;
}

.profile .dropdown-item {
    background-color: #000 !important;
    color: #fff !important;
}


/* .profile .dropdown-item:hover{
    background-color: #fff !important;
    color: #000 !important;
} */

.profile .dropdown-item a {
    text-decoration: none;
    color: #fff !important;
}

.profile .dropdown-item a:hover {
    color: #fff !important;
    /* background-color: #fff !important; */
}

.profile .btn-dark:hover {
    background-color: #000 !important;
    color: #fff;
}

.menu {
    /* height: 100px; */
    background-color: #000;
    height: 93vh;
    width: 15%;
}

.display {
    background-color: #fff;
    width: 85%;
    padding: 1rem;
}

.body {
    display: flex;
    width: 100%;
    background-color: #000;
}

.menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex;
    position: relative; */
    list-style-type: none;
    text-align: left;
}

.menu ul li {
    width: 100%;
    /* position: absolute; */
    line-height: 40px;
    padding: 0 1em;
    border-bottom: 1px solid #535353;
}

.menu ul li:first-child {
    border-top: 1px solid #535353;
}

.menu ul li a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    /* background-color: yellowgreen; */
}

.menu li:hover {
    background: #232323;
}

.collapse li {
    line-height: 40px !important;
}

.collapse li a {
    font-size: 1rem !important;
    padding-left: 1rem;
}

.collapsing li a {
    font-size: 1rem !important;
    padding-left: 1rem;
}

.collapsing li {
    line-height: 40px !important;
}

.collapse li:first-child {
    border-top: 0px solid #535353 !important;
}

.collapsing li:first-child {
    border-top: 0px solid #535353 !important;
}

.display__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display__body {
    width: 100%;
    display: flex;
}

.display__body .img {
    width: 100px;
}

.display__body .img img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.display__body table tr td {
    font-size: 1rem;
    text-align: center;
}

.display__body table tr:first-child td {
    background-color: #000;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.15rem !important;
    text-align: center;
    color: #be1010;
}

.display__body-btn {
    width: 150px;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}